html, body {
    height: 100%
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}


.picture {
    width: 400px;
    border-radius : 80px;
}

.whole_page {
    margin: 0 auto;
}

